[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.pidb
*.user
*.userprefs
*.blend~
*.mat.meta
*.asset.meta
*.png.meta
*.jpg.meta
*.wav.meta
*.dll.meta
*.pdb.meta
